/* variables de style
--------------------------------------------- */
/* demo styles
--------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  font: 100% / 1.5 Arial;
}
.parallax {
  font-size: 200%;
}
/* Ajout d'espace pour permettre le défilement */
/* .parallax__layer--back {
  padding: 100vh 0;
} */
.parallax__layer {
  height: 100vh;
}
/* Centrer le contenu des calques Parallax */
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Styles de base du Parallax
--------------------------------------------- */
.parallax {
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
  /*Corriger le bug de l'overflow qui ne « hide » pas sur certains navigateurs.*/
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.parallax__layer {
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
  /*Corriger le bug de l'overflow qui ne « hide » pas sur certains navigateurs.*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2.02);
  transform: translateZ(-1px) scale(2.02);
}
.parallax__group--1 .parallax__layer--base {
  background-color: rgba(255, 0, 0, 0);
}
.parallax__group--1 .parallax__layer--back {
  background-color: #000;
}
.parallax__group--2 .parallax__layer--base {
  background-color: #fff;
}
.parallax__group--2 .parallax__layer--back {
  top: 100vh;
  background-color: rgba(0, 0, 255, 0.2);
}
/* Styles des SVG
--------------------------------------------- */
#logo {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 5vw;
  height: auto;
}
#logo #arriere-plan {
  fill: #0d1f2c;
}
#logo #avant-plan {
  fill: #2a4d66;
}
@media screen and (max-width: 900px) {
  #logo {
    max-width: 10vw;
  }
}
@media screen and (max-width: 500px) {
  #logo {
    max-width: 15vw;
  }
}
#bg {
  height: 100vh;
  width: auto;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
}
#bg #colline {
  fill: #80493c;
  stroke: #80493c;
  stroke-width: 1px;
}
#bg #tour-gauche {
  fill: #565656;
  stroke: #565656;
  stroke-width: 1px;
}
#bg #tour-droite {
  fill: #484848;
  stroke: #484848;
  stroke-width: 1px;
}
#bg #rempart {
  fill: #404040;
  stroke: #404040;
  stroke-width: 1px;
}
#bg #toit-gauche {
  fill: #2a4d66;
  stroke: #223f51;
  stroke-width: 1px;
}
#bg #toit-droite {
  fill: #223f51;
  stroke: #223f51;
  stroke-width: 1px;
}
#bg #porte {
  fill: #ad4d3a;
}
.fleche-bas {
  display: block;
  position: relative;
  margin-top: 85vh;
  max-height: 5vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  stroke: #fff;
  stroke-width: 5px;
  fill: none;
  cursor: pointer;
  -webkit-animation: descente 1s 0s infinite ease-out;
          animation: descente 1s 0s infinite ease-out;
}
.fleche-bas:hover {
  -webkit-animation: none;
          animation: none;
  max-height: 7vh;
}
@-webkit-keyframes descente {
  from {
    margin-top: 85vh;
    opacity: 1;
  }
  to {
    margin-top: 87vh;
    opacity: 0.2;
  }
}
@keyframes descente {
  from {
    margin-top: 85vh;
    opacity: 1;
  }
  to {
    margin-top: 87vh;
    opacity: 0.2;
  }
}
.fleche-haut {
  display: block;
  position: relative;
  margin-top: 52.5vh;
  max-height: 5vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  stroke: #000;
  stroke-width: 5px;
  fill: none;
  cursor: pointer;
  -webkit-animation: montee 1s 0s infinite ease-out;
          animation: montee 1s 0s infinite ease-out;
}
.fleche-haut:hover {
  -webkit-animation: none;
          animation: none;
  max-height: 7vh;
}
@-webkit-keyframes montee {
  from {
    margin-top: 52.5vh;
    opacity: 1;
  }
  to {
    margin-top: 50.5vh;
    opacity: 0.2;
  }
}
@keyframes montee {
  from {
    margin-top: 52.5vh;
    opacity: 1;
  }
  to {
    margin-top: 50.5vh;
    opacity: 0.2;
  }
}
.jonathan-flat {
  max-height: 50vh;
  width: auto;
}
.jonathan-flat .masque {
  fill: none;
}
.jonathan-flat .fond-cercle {
  fill: #25bfd8;
  stroke: #25bfd8;
  stroke-width: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: fill 1s, stroke 1s;
  transition: fill 1s, stroke 1s;
}
.jonathan-flat .cls-3 {
  fill: #a3a3a3;
}
.jonathan-flat .cls-4 {
  fill: #ddc8c0;
}
.jonathan-flat .cls-5 {
  fill: #d6c1ba;
}
.jonathan-flat .cls-6 {
  -webkit-clip-path: url(#clip-path);
          clip-path: url(#clip-path);
}
.jonathan-flat .cls-7 {
  opacity: 0.04;
}
.jonathan-flat .cls-8 {
  fill: #fff;
}
.jonathan-flat .cls-9 {
  fill: #efefef;
}
.jonathan-flat .cls-10,
.jonathan-flat .cls-11 {
  fill: #c6c6c6;
}
.jonathan-flat .cls-11 {
  stroke: #848484;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}
.jonathan-flat .cls-12 {
  fill: #3f332f;
}
.jonathan-flat .cls-13 {
  fill: #59433d;
}
.jonathan-flat .cls-14 {
  fill: #f7f7f7;
}
.jonathan-flat .cls-15 {
  fill: #edd9ce;
}
.jonathan-flat .cls-16 {
  fill: #ceafb2;
}
.jonathan-flat .cls-17 {
  fill: #d39fa9;
}
.jonathan-flat .peau-visage-droite {
  fill: #e5d1c7;
}
.jonathan-flat .cls-20 {
  fill: #a0835d;
}
.jonathan-flat .cls-21 {
  fill: #0a0a0c;
}
.jonathan-flat .cls-22 {
  fill: #e4e8ea;
}
.jonathan-flat .cls-23 {
  -webkit-clip-path: url(#clip-path-2);
          clip-path: url(#clip-path-2);
}
.jonathan-flat .cls-24 {
  -webkit-clip-path: url(#clip-path-3);
          clip-path: url(#clip-path-3);
}
.jonathan--content #g_cadre #cercle {
  fill: #25d83e;
  stroke: #25d83e;
}
.jonathan--neutre #g_cadre #cercle {
  fill: #d8c425;
  stroke: #d8c425;
}
.jonathan--triste #g_cadre #cercle {
  fill: #d83e25;
  stroke: #d83e25;
}
/* Autres styles
--------------------------------------------- */
.jonathan-lauzon-portail {
  height: 79.166vh;
  width: auto;
  position: absolute;
  bottom: 0;
  left: calc(50vw - 28.888vh);
}
.comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.comp .comp__layout {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.comp .layout-left,
.comp .layout-right {
  min-width: 33.333vw;
  max-width: calc(50vw - 25vh);
  width: 50vw;
}
.comp .layout-center {
  max-width: 50vh;
  width: 33.333vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comp .layout-center .comp-matiere {
  text-align: center;
}
.comp .layout-center .comp__matiere:nth-child(1) {
  color: #25bfd8;
}
.comp .layout-center .comp__matiere:nth-child(3) {
  color: #d83e25;
}
.comp .layout-left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 1rem;
}
.comp .layout-left .comp__matiere {
  text-align: right;
}
.comp .layout-left .comp__matiere:nth-child(2) {
  margin-right: 2rem;
}
.comp .layout-left .comp__matiere:nth-child(1) {
  color: #25d86b;
}
.comp .layout-left .comp__matiere:nth-child(2) {
  color: #66d825;
}
.comp .layout-left .comp__matiere:nth-child(3) {
  color: #d8c425;
}
.comp .layout-right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 1rem;
}
.comp .layout-right .comp__matiere {
  text-align: left;
}
.comp .layout-right .comp__matiere:nth-child(2) {
  margin-left: 2rem;
}
.comp .layout-right .comp__matiere:nth-child(1) {
  color: #2539d8;
}
.comp .layout-right .comp__matiere:nth-child(2) {
  color: #9725d8;
}
.comp .layout-right .comp__matiere:nth-child(3) {
  color: #d82592;
}
.comp .comp__matiere {
  font-family: 'Passion One', cursive;
  margin: 2vh 0;
  font-size: 5vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: margin 0.4s, font-size 0.4s;
  transition: margin 0.4s, font-size 0.4s;
}
.comp .comp__matiere:hover {
  margin: calc(2vh - 1.16vw) 0;
  font-size: 6.5vw;
}
