/* variables de style
--------------------------------------------- */
/* demo styles
--------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  font: 100% / 1.5 Arial;
}
.parallax {
  font-size: 200%;
}
/* Ajout d'espace pour permettre le défilement */
/* .parallax__layer--back {
	padding: 100vh 0;
} */
.parallax__layer {
  height: 100vh;
}
/* Centrer le contenu des calques Parallax */
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Styles de base du Parallax
--------------------------------------------- */
.parallax {
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
  /*Corriger le bug de l'overflow qui ne « hide » pas sur certains navigateurs.*/
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__layer {
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
  /*Corriger le bug de l'overflow qui ne « hide » pas sur certains navigateurs.*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2.02);
  transform: translateZ(-1px) scale(2.02);
}
.parallax__group--1 .parallax__layer--base {
  background-color: rgba(255, 0, 0, 0);
}
.parallax__group--1 .parallax__layer--back {
  background-color: #000;
}
.parallax__group--2 .parallax__layer--base {
  background-color: #fff;
}
.parallax__group--2 .parallax__layer--back {
  top: 100vh;
  background-color: rgba(0, 0, 255, 0.2);
}
/* Styles des SVG
--------------------------------------------- */
.jonathan-flat {
  max-height: 50vh;
  width: auto;
  /* position: relative;
	margin-left: 50%;
	margin-top: 50vh;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); */
}
.jonathan--content #g_cadre #cercle {
  fill: #0f0;
}
.jonathan--neutre #g_cadre #cercle {
  fill: #00f;
}
.jonathan--triste #g_cadre #cercle {
  fill: #f00;
}
/* Autres styles
--------------------------------------------- */
.jonathan-lauzon-portail {
  height: 79.166vh;
  width: auto;
  position: absolute;
  bottom: 0;
  left: calc(50vw - 28.888vh);
}
.comp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.comp .comp__layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.comp .layout-left,
.comp .layout-right {
  min-width: 33.333vw;
  max-width: calc(50vw - 25vh);
  width: 50vw;
}
.comp .layout-center {
  max-width: 50vh;
  width: 33.333vw;
  align-items: center;
}
.comp .layout-center .comp-matiere {
  text-align: center;
}
.comp .layout-center .comp__matiere:nth-child(1) {
  color: #25bfd8;
}
.comp .layout-center .comp__matiere:nth-child(3) {
  color: #d83e25;
}
.comp .layout-left {
  align-items: flex-end;
  padding-right: 1rem;
}
.comp .layout-left .comp__matiere {
  text-align: right;
}
.comp .layout-left .comp__matiere:nth-child(2) {
  margin-right: 2rem;
}
.comp .layout-left .comp__matiere:nth-child(1) {
  color: #25d86b;
}
.comp .layout-left .comp__matiere:nth-child(2) {
  color: #66d825;
}
.comp .layout-left .comp__matiere:nth-child(3) {
  color: #d8c425;
}
.comp .layout-right {
  align-items: flex-start;
  padding-left: 1rem;
}
.comp .layout-right .comp__matiere {
  text-align: left;
}
.comp .layout-right .comp__matiere:nth-child(2) {
  margin-left: 2rem;
}
.comp .layout-right .comp__matiere:nth-child(1) {
  color: #2539d8;
}
.comp .layout-right .comp__matiere:nth-child(2) {
  color: #9725d8;
}
.comp .layout-right .comp__matiere:nth-child(3) {
  color: #d82592;
}
.comp .comp__matiere {
  font-family: 'Passion One', cursive;
  margin: 2vh 0;
  font-size: 5vw;
  cursor: pointer;
  transition: margin 0.4s, font-size 0.4s;
}
.comp .comp__matiere:hover {
  margin: calc(2vh - 1.16vw) 0;
  font-size: 6.5vw;
}
