/* demo styles
--------------------------------------------- */

* {
	margin:0;
	padding:0;
}

body {
	font: 100% / 1.5 Arial;
}

.parallax {
	font-size: 200%;
}

/* Ajout d'espace pour permettre le défilement */
/* .parallax__layer--back {
	padding: 100vh 0;
} */
.parallax__layer {
	height: 100vh;
}

/* Centrer le contenu des calques Parallax */
.title {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Styles de base du Parallax
--------------------------------------------- */

.parallax {
	-webkit-perspective-origin-x: 100%;
	perspective-origin-x: 100%; /*Corriger le bug de l'overflow qui ne « hide » pas sur certains navigateurs.*/
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 1px;
	perspective: 1px;
}

.parallax__group {
	position: relative;
	height: 100vh;
	transform-style: preserve-3d;
}

.parallax__layer {
	-webkit-transform-origin-x: 100%;
	transform-origin-x: 100%; /*Corriger le bug de l'overflow qui ne « hide » pas sur certains navigateurs.*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	background-color: rgba(30, 125, 249, 0.5);
}

.parallax__layer--back {
	-webkit-transform: translateZ(-1px) scale(2.02);
	transform: translateZ(-1px) scale(2.02);
	background-color: rgba(255, 160, 80, 0.5);
}